# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/cpp/.vs/aoc2023
/cpp/x64/Debug
/cpp/day_01/x64/Debug
/cpp/day_02/x64/Debug
*.user
/cpp/day_03/x64/Debug
/cpp/day_04
/cpp/day_05/x64
/cpp/x64/Release
